body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
    padding: 25px 0 35px;
    background: #fff;
    color: #fff;
}

.header {
    color:#FFFFFF;
    background-color: #005596;
    padding:0;
}

.text-center-xs {
    text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
}